header {
    border: 3px solid black;
}

.mainContent {
    border: 3px solid black;
    width: 960px;
    height: 700px;
    margin-left: 25%;
    margin-right: 25%;
    
}

#instructionBox {
    border: 3px solid black;
    width: 930px;
    height: 150px;
    position: relative;
    left: 15px;
    margin-top: 25px;
  

}

#logo {
    font: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;
    width: 250px;
    margin-left: 10%;
    text-align: center;
    padding: 15px;
    color: #fff;
    background-color: #4aaaa5;
}

#rando {
    height: 150px;
    width: 300px;
    border: 3px solid black;
    position: relative;
    left: 100px;
}

#scoreCounter {
    border: 3px solid black;
    float: left;
    height: 150px;
    width: 300px;
    position: relative;
    left: 556px;
    bottom: 156px;

    
}

#crystalBox {
    width: 960px;
    height: 300px;
  
    border: 2px solid black'
} 

#crystal-4 {
    float: left;
}